:root {
    --animation-duration: 1s; /* Set default animation duration */
    --animation-timing-function: ease-in; /* Set default animation timing function */
  }
  
  .fade-in {
      opacity: 0; /* Start with opacity set to 0 */
      animation: fadeInAnimation var(--a) var(--b) forwards; /* Use the fadeInAnimation with custom properties */
  }
  
  @keyframes fadeInAnimation {
      from {
          opacity: 0; /* Start opacity at 0 */
      }
      to {
          opacity: 1; /* End opacity at 1 */
      }
  }
  .slide-in {
    opacity: 0; /* Start with opacity set to 0 */
    transform: translateY(-100%); /* Start with the element shifted above */
    /* Use CSS variable for animation duration */
    animation: slideInAnimation var(--a) ease-in forwards;
}

@keyframes slideInAnimation {
    from {
        opacity: 0; /* Start opacity at 0 */
        transform: translateY(-100%); /* Start position shifted above */
    }
    to {
        opacity: 1; /* End opacity at 1 */
        transform: translateY(0); /* End position at the original position */
    }
}
  